.adminPage{

padding:40px;
background:#f5f7fb;
min-height:100vh;

font-family:Segoe UI;

}



.adminHeader{

margin-bottom:25px;

}


.adminHeader h1{

font-size:32px;
margin-bottom:15px;

}



.searchBox{

display:flex;
justify-content:space-between;
align-items:center;

}



.searchBox input{

padding:12px;
width:320px;

border-radius:8px;

border:1px solid #ccc;

font-size:16px;

}



.totalBox{

font-size:18px;
font-weight:bold;

color:#333;

}



.tableCard{

background:white;

padding:20px;

border-radius:10px;

box-shadow:0px 5px 15px rgba(0,0,0,0.1);

overflow:auto;

}



.adminTable{

width:100%;

border-collapse:collapse;

font-size:15px;

}



.adminTable th{

background:#1e3a5f;

color:white;

padding:14px;

text-align:center;

}



.adminTable td{

padding:12px;

text-align:center;

border-bottom:1px solid #eee;

}



.adminTable tr:hover{

background:#f2f6ff;

}



.photo{

width:60px;

height:60px;

object-fit:cover;

border-radius:6px;

}



.actionBtns{

display:flex;

gap:8px;

justify-content:center;

}



.viewBtn{

background:#3498db;

color:white;

border:none;

padding:6px 14px;

border-radius:6px;

cursor:pointer;

}



.editBtn{

background:#f39c12;

color:white;

border:none;

padding:6px 14px;

border-radius:6px;

cursor:pointer;

}



.deleteBtn{

background:#e74c3c;

color:white;

border:none;

padding:6px 14px;

border-radius:6px;

cursor:pointer;

}



.viewBtn:hover{

background:#2980b9;

}

.editBtn:hover{

background:#d68910;

}

.deleteBtn:hover{

background:#c0392b;

}